 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
- List Popular languages for Data Science
- Learn the markdown in jupyter notebook
- Learn how to use Git

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn

|Data Science tools|
|------------------|
| Jupyter Notebook |
| RStudio          |
| Apache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Julia R.